[submodule ".registry"]
	path = .registry
	url = https://github.com/headonpillow/headonpillow.r-universe.dev
	branch = HEAD
[submodule "Sibyl"]
	path = Sibyl
	url = https://github.com/Headonpillow/Sibyl
